@page "/Categories"

@inject CategoryService CategoryService
@inject NavigationManager NavigationManager
@inject CategoryBean CategoryBean
@using RiskManagementAppSharedUI.Beans
@using RiskManagementAppSharedUI.Models
@using RiskManagementAppSharedUI.Services
@using RiskManagementAppSharedUI

<h3>Categorieën</h3>

@if (CategoriesAll == null)
{
    <h4>Loading...</h4>
}
else{
    <table class="table">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Omschrijving</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in CategoriesAll)
            {
                <tr>
                    <td>@category.CategoryName</td>
                    <td>@category.Categorydescription</td>
                    <td>@category.CategoryId</td>
                    <td>
                        <AuthorizeView>
                        <a href="/UpdateCategory"> <button class="btn btn-primary" @onclick="() => CategoryBean.SetCategoryId(category.CategoryId)">Wijzigen</button></a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(category.CategoryId))">Delete</button>
                        </AuthorizeView>
                        <a href="/RiskPerCategory"> <button class="btn btn-primary" @onclick="() => CategoryBean.SetCategoryId(category.CategoryId)">Risco's per categorie</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<AuthorizeView>
<a href="/AddCategory"><button class="btn btn-primary">Voeg categorie toe</button></a>
</AuthorizeView>

@code {
    public IEnumerable<Category>? CategoriesAll { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CategoriesAll = await CategoryService.GetCategories();
    }

    private async Task Delete(int id)
    {
        await CategoryService.DeleteCategory(id);
        NavigationManager.NavigateTo("/Categories", true);
    }
}
