@page "/Controls"

@inject ControlService ControlService
@inject NavigationManager NavigationManager
@inject ControlBean ControlBean
@inject RiskBean RiskBean
@using RiskManagementAppSharedUI.Beans
@using RiskManagementAppSharedUI.Models
@using RiskManagementAppSharedUI.Services
@using RiskManagementAppSharedUI

<h3>Controls</h3>

@if (AllControls == null)
{
    <h4>Loading...</h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Omschrijving</th>
                <th>Type</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var control in AllControls)
            {
                <tr>
                    <td>@control.ControlName</td>
                    <td>@control.ControlDescription</td>
                    <td>@control.ControlType</td>
                    <td>
                        <AuthorizeView>
                        <a href="/UpdateControl"> <button class="btn btn-primary" @onclick="() => ControlBean.SetControlId(control.ControlId)">Edit</button></a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(control.ControlId))">Delete</button>
                        </AuthorizeView>
                        <a href="/RiskPerControl"> <button class="btn btn-primary" @onclick="() => RiskBean.SetRiskId(control.RiskId)">Risco's per control</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<button class="btn btn-primary" @onclick="() => AddControl()">Add Control</button>

@code {
    public IEnumerable<Control>? AllControls { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AllControls = await ControlService.GetControls();
    }

    private async Task Delete(int id)
    {
        await ControlService.DeleteControl(id);
        NavigationManager.NavigateTo("/Controls", true);
    }

    private void AddControl()
    {
        NavigationManager.NavigateTo("/AddControl", true);
    }
}
