@page "/AddRisk"

@inject CategoryService CategoryService
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using RiskManagementShared.Services;
@using RiskManagementShared.Models;

<PageTitle>Nieuw risico</PageTitle>

<h3>Voeg een nieuw risico toe</h3>

<EditForm Model="risk" OnValidSubmit="@Add">
    
    <div>
        <label>Naam risico</label>
        <InputText id="RiskName" @bind-Value="risk.RiskName" />
    </div>

    <div>
        <label>Risico waarde inherent</label>
        <InputNumber id="RiskValueInherent" @bind-Value="risk.RiskValueInherent" />
    </div>

    <div>
        <label>Risico waarde controlled</label>
        <InputNumber id="RiskValueControlled" @bind-Value="risk.RiskValueControlled" />
    </div>

    <div>
        <label>Waarschijnlijkheid waarde inherent</label>
        <InputNumber id="ProbabilityValueInherent" @bind-Value="risk.ProbabilityValueInherent" />
    </div>

    <div>
        <label>Waarschijnlijkheid waarde controlled</label>
        <InputNumber id="ProbabilityValueControlled" @bind-Value="risk.ProbabilityValueControlled" />
    </div>

    <div>
        <label>Impact waarde inherent</label>
        <InputNumber id="ImpactValueInherent" @bind-Value="risk.ImpactValueInherent" />
    </div>

    <div>
        <label>Impact waarde controlled</label>
        <InputNumber id="ImpactValueControlled" @bind-Value="risk.ImpactValueControlled" />
    </div>

    <div>
        <label>Categorie</label>
        <InputSelect id="Categorie" @bind-Value="risk.CategoryId">
            @if (Categories == null)
            {
                <h4>Loading...</h4>
            }
            else
            {
                @foreach (var category in Categories)
                {
                    <option value="@category.CategoryId">@category.CategoryName</option>
                }
            }
            </InputSelect>
    </div>

    <div>
        <label>Omschrijving</label>
        <InputText id="Description" @bind-Value="risk.Description" />
    </div>

    <div>
        <label>ActionType</label>
        <InputText id="ActionType" @bind-Value="risk.ActionType" />
    </div>

    <div>
        <label>Uitstaande acties</label>
        <InputText id="OutstandingActions" @bind-Value="risk.OutstandingActions" />
    </div>

    <div>
        <label>Classificatie</label>
        <InputText id="Classification" @bind-Value="risk.Classification" />
    </div>

    <div>
        <label>Aanmaakdatum</label>
        <InputDate id="CreationDate" @bind-Value="risk.CreationDate" />
    </div>

    <div>
        <label>Laats geüpdatet</label>
        <InputDate id="LastUpdated" @bind-Value="risk.LastUpdated" />
    </div>

    <div>
        <label>Vervaldatum</label>
        <InputDate id="DueDate" @bind-Value="risk.DueDate" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</EditForm>


@code {
    private Risk risk = new Risk();
    private IEnumerable<Category>? Categories { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Categories = await CategoryService.GetCategories();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        risk.CreationDate = DateTime.Now;
        risk.DueDate = DateTime.Now;
        risk.LastUpdated = DateTime.Now;
    }

    private async void Add()
    {
        var response = await Http.PostAsJsonAsync<Risk>("/api/Risks", risk);
        response.EnsureSuccessStatusCode();
        NavigationManager.NavigateTo("/");
    }
}
