@page "/risks"
@inject RiskService RiskService
@using RiskManagementShared.Models
@using RiskManagementShared
@using RiskManagementShared.Services

<h3>Risks</h3>

@code {
    private IEnumerable<Risk> Risks { get; set; } = new List<Risks>();
    protected override async Task OnInitializedAsync()
    {
        Risks = await RiskService.GetRisks();
    }
}
