@page "/RiskHistory"
@using RiskManagementShared.Models
@using RiskManagementShared.Services
@using RiskManagementShared.Beans
@inject RiskHistoryService RiskHistoryService
@inject NavigationManager NavigationManager
@inject RiskBean RiskBean

<h3>RiskHistory</h3>

@code {
    private int RiskId { get; set; }
    public IEnumerable<RiskHistory>? RiskHistories { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        RiskId = RiskBean.GetRiskId();
    }

    protected override async Task OnInitializedAsync()
    {
        RiskHistories = await RiskHistoryService.GetRiskHistoryByRiskId(RiskId);
    }
}
