@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <main>
        <header>
            <button class="btn btn-primary" @onclick="() => NavigateToHome()">Home</button>
        </header>
        <div class="top-row px4">
            <AccessControl />
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void NavigateToHome()
    {
        NavigationManager.NavigateTo("/");
    }
}