@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <main>
        <header>
            <button class="btn btn-primary" @onclick="() => NavigateToHome()">Home</button>
        </header>
        <div class="top-row px4">
            <AccessControl />

            <AuthorizeView>
            <button style="margin-left: 10px;" class="btn btn-primary" @onclick="@(() => Modal.Show<Pages.QR_code>("QR-code"))">Login via QR-code</button>
            </AuthorizeView>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [CascadingParameter] public IModalService Modal { get; set; }

    private void NavigateToHome()
    {
        NavigationManager.NavigateTo("/");
    }
}